/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');


/* Sections style */
@import url('./header.css');






.form{
  margin: 36px auto;
display: flex;
flex-direction: row;
gap: 8px;
justify-content: center;
}

.form input[name="search-text"] {
  width: 272px; 
  height: 40px;
  border: 1px solid #808080;
  border-radius: 4px;
  outline: none;

}

.form input[name="search-text"]:focus {      
  border-color: #4e75ff;  
}

button{
border-radius: 8px;
width: 91px;
height: 40px;
background: #4e75ff;
color: white;
border: none;
justify-content: center;
}

button:hover {
  background: #6c8cff;
}


.gallery {
  display: flex;
  flex-wrap: wrap;      
  gap: 24px;            
  justify-content: center; 
  padding: 24px 156px;
  list-style: none;
}


.gallery-item {
  width: 360px;
}

.gallery-image {
  display: block;
  width: 360px;   
  height: 200px;  
  object-fit: cover; 
  border: 1px solid #808080;
}


.info {
  display: flex;
  justify-content: space-around;
  border: 1px solid #808080;
  border-top: none;
  padding: 4px 0;
}

.info p {
  font-size: 12px;
  text-align: center;
  margin: 0;
}

.hidden {
  display: none !important;
}

.bottom-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 32px 0;
  gap: 16px;
}

.load-more {
  display: block; 
  margin: 0 auto;
  padding: 8px 16px;
  background-color: #4e75ff;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.load-more:hover {
  background-color: #6c8cff;
}

.loader-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.loader {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin: 20px 0;
  display: inline-block; 
}

.hidden {
  display: none !important;
}